name: Автозапуск каждый день

on:
  schedule:
    # Каждый день в 09:00 по UTC (можно поменять)
    - cron: "0 7 * * *"
  workflow_dispatch:  # позволяет запустить вручную

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - name: Сообщение
        run: |
          echo "======================================"
          echo "Автоматический запуск на GitHub!"
          echo "Дата и время запуска: $(date)"
          echo "position {x,y,z}"
          echo "type (DAMAGE, HEAL, STUN, CAST)"
          echo "abilityId"
          echo "target"
          echo "who attack"
          echo "value (урон)"
